:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Space Mono', monospace;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--Light-grayish-cyan);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1.4rem;
  background-color: var(--Light-grayish-cyan);
}

.header__title {
  width: 100%;
  max-width: 90px;
  display: flex;
  justify-content: space-between;
  color: var(--Dark-grayish-cyan);
}

.main {
  width: 100%;
  flex-direction: column;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--White);
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 20px;
}

.Input {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Input__label {
  color: var(--Dark-grayish-cyan);
  font-size: 1.6rem;
}

.Input__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--Very-light-grayish-cyan);
}

.Input__container-img {
  width: 10%;
  max-width: 15px;
}

.Input__container-input {
  width: 90%;
  border: none;
  background-color: var(--Very-light-grayish-cyan);
  font-size: 2rem;
  font-family: 'Space Mono', monospace;
  text-align: right;
  color: var(--Very-dark-cyan);
}
.Input__container-input:focus{
  outline: none;
}
.percentages {
  width: 90%;
  padding: 0px 20px 0px 20px;
}

.percentages__p {
  color: var(--Dark-grayish-cyan);
}

.percentages__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-top: 5px;
}

.percentajeButton {
  appearance: none;
  -webkit-appearance: none;
	-moz-appearance: none;
}

.percentageLabel {
  width: 47%;
  padding: 5px;
  background-color: var(--Very-dark-cyan);
  text-align: center;
  color: var(--White);
  font-size: 2rem;
  border-radius: 5px;
  min-width: 100px;
  max-width: 120px;
}

.percentageLabel.custom {
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Dark-grayish-cyan);
}

.percentageLabel:focus-within{
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

.percentageLabel:checked{
  background-color: var(--Very-light-grayish-cyan);
}
.ticket {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--Very-dark-cyan);
  border-radius: 10px;
}

.ticket__amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--White);
  font-size: 1.6rem;
  padding: 10px;
}

.ticket__amount-container-sub {
  font-size: 1.4rem;
}

.ticket__amount-container-p {
  font-size: 1.2rem;
  color: var(--Grayish-cyan);
}

.ticket__amount-container-tip {
  font-size: 2.8rem;
  color: var(--Strong-cyan);
}

.ticket__btn {
  padding: 10px;
  background-color: var(--Strong-cyan);
  border: none;
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  color: var(--Very-dark-cyan);
  border-radius: 5px;
}

.main__containers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  flex-direction: column;
}
.sexo{
  background-color: var(--Very-dark-cyan);
}
.verde{
  background-color: var(--Strong-cyan);
}
@media (min-width: 500px) {
  #root {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .main {
    max-width: 700px;
    border-radius: 15px;
    flex-direction: row;
  }

  .ticket__btn {
    margin-top: 120px;
  }
}